<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/imgs/IconColour.png">
	<title>Dashboard - Arrif</title>

	<link rel="stylesheet" href="/style/base.css">
	<link rel="stylesheet" href="/style/schedule.css">
	<link rel="stylesheet" href="/style/forms.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<%- include("templates/navbar") %>

	<section class="responsive-flex">
		<div class="responsive-container">
			<h1><%= welcomeText %>, <%= locals?.user?.username %>!</h1>
			<% function minutesToTimestamp(min) {
				let m = min % 60;
				let h = (min - m) / 60;
				return (h < 10 ? "0" : "") + h.toString() + ":" + (m < 10 ? "0" : "") + m.toString();
			} %>

			<div class="todo">
				<h2>To do</h2>
				<% schedule.todo.forEach(e => { %>
				<div class="schedule-todo" title="Todo ID: <%= e._id %>" data-priority="<%= e.prio %>" data-id="<%= e._id %>">
					<div class="top-right-icon">
						<svg class="done-icon" style="display:none;" onclick="updateTodo(this)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<polyline class="cls-1" points="127.52 263.69 210.12 402.2 384.48 109.8" />
						</svg>
						<svg class="priority-icon" onclick="toggleTodoPriority(this)" viewBox="0 0 512 512">
							<rect class="cls-1" x="212" y="56.98" width="88" height="265.47" rx="44" ry="44" />
							<rect class="cls-1" x="212" y="367.02" width="88" height="88" rx="44" ry="44" />
							<path class="cls-1" d="M139.49,453.61h-63.67c-19.33,0-35-15.67-35-35V93.39c0-19.33,15.67-35,35-35h63.67c19.33,0,35,15.67,35,35s-15.67,35-35,35h-28.67v255.22h28.67c19.33,0,35,15.67,35,35s-15.67,35-35,35Z" />
							<path class="cls-1" d="M436.17,453.61h-63.67c-19.33,0-35-15.67-35-35s15.67-35,35-35h28.67V128.39h-28.67c-19.33,0-35-15.67-35-35s15.67-35,35-35h63.67c19.33,0,35,15.67,35,35V418.61c0,19.33-15.67,35-35,35Z" />
						</svg>
						<svg class="delete-icon" onclick="removeTodo(this)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path class="cls-1" d="M392.29,208.14l-40.54,235.96c-1.26,7.32-7.61,12.68-15.04,12.68h-95.75s-95.75,0-95.75,0c-7.43,0-13.78-5.35-15.04-12.68l-40.54-235.96c-1.6-9.32,5.58-17.84,15.04-17.84H377.25c9.46,0,16.64,8.52,15.04,17.84Z" />
							<path class="cls-1" d="M366.57,88.63h0c.77-8.39-5.41-15.82-13.8-16.6l-181.93-16.74c-8.39-.77-15.82,5.41-16.6,13.8h0c-.77,8.39-8.2,14.57-16.6,13.8l-58.06-5.34c-8.39-.77-15.82,5.41-16.6,13.8l-3.23,35.07c-.77,8.39,5.41,15.82,13.8,16.6l358.83,33.02c8.39,.77,15.82-5.41,16.6-13.8l3.23-35.07c.77-8.39-5.41-15.82-13.8-16.6l-58.06-5.34c-8.39-.77-14.57-8.2-13.8-16.6Z" />
						</svg>
					</div>
					<span class="schedule-todo-title" oninput="contentEditableChanged(this)" contenteditable="true"><%= e.name %></span>
					<span class="schedule-todo-desc" oninput="contentEditableChanged(this)" contenteditable="true"><%= e.desc %></span>
				</div>
				<% }) %>
				<form id="new-todo-form" class="slim-form" onsubmit="return checkTodoForm(this, event);" action="/todo?callback=/dashboard" method="post">
					<div id="form-error" style="margin-bottom:0px">
						<img src="imgs/WarningIcon.svg" style="height: 24px" />
						<span id="form-error-msg"></span>
					</div>
					<input required type="text" name="name" placeholder="name of to do">
					<input required type="text" name="desc" placeholder="description of to do">
					<input type="submit" value="New to do">
				</form>
			</div>

			<div class="upnext">
				<h2>Up next</h2>
				<% schedule.upnext.forEach(e => { %>
				<div style="flex-direction: row;" class="schedule-event" onclick="window.open('/timetable/<%= e.timetable.id %>', '_self')">
					<div>
						<span class="schedule-event-title"><%= e.name %></span>
						<span class="schedule-event-desc"><%= e.desc %><%= e.loc?.length > 0 ? ` - ${e.loc}` : ""%></span>
						<span class="schedule-event-footer">From <%= e.timetable.name %> timetable</span>
					</div>
					<span class="schedule-event-time"><%= minutesToTimestamp(e.start) %></span>
				</div>
				<% }) %>

				<% if (schedule.upnext.length == 0) { %>
				<div class="schedule-event" style="cursor:default">
					<div>
						<span class="schedule-event-title">Nothing!</span>
						<span class="schedule-event-desc">How lucky are you?</span>
						<span class="schedule-event-footer"></span>
					</div>
					<span class="schedule-event-time"></span>
				</div>
				<% } %>
			</div>

			<div class="timetables">
				<h2>My timetables</h2>
				<% schedule.timetables.forEach(t => { %>
				<div data-id="<%= t.id %>" title="Timetable ID: <%= t.id %>" onclick="window.open('/timetable/<%= t.id %>', '_self')" class="schedule-timetable">
					<div>
						<span class="schedule-timetable-title"><%= t.name %></span>
						<span class="schedule-timetable-desc"><%= t.desc %></span>
					</div>
				</div>
				<% }) %>

				<% if (schedule.timetables.length == 0) { %>
				<div onclick="window.open('/timetable/new', '_self')" class="schedule-timetable">
					<div>
						<span class="schedule-timetable-title">Make a new timetable?</span>
						<span class="schedule-timetable-desc">Go on!</span>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</section>

	<%- include("templates/footer") %>
	<%- include("templates/debug") %>

	<script>
		$(`*[contenteditable=" true"]`).keypress(function(e) {
			return e.which != 13;
		});

		function contentEditableChanged(e) {
			$(e).parent().find(".top-right-icon .done-icon").css("display", "inline-block");
		}

		function checkTodoForm(e, ev) {
			const form = $(e);
			const formError = form.find("#form-error");
			if (form.find(`input[name='name' ]`).val().length > 30) {
				form.find("#form-error").css("display", "block")
				form.find(`#form-error #form-error-msg`).text("Length of name must be under 30 characters")
				return false;
			}
			if (form.find(`input[name='desc']`).val().length > 100) {
				ev.preventDefault();
				form.find("#form-error").css("display", "block")
				form.find(`#form-error #form-error-msg`).text("Length of description must be under 100 characters")
				return false;
			}
			return true;
		}

		function toggleTodoPriority(e) {
			const a = $(e).parent().parent().attr("data-priority") == "false";
			const id = $(e).parent().parent().attr("data-id");
			$.ajax({
				url: `/todo/${id}`,
				headers: {
					"content-type": "application/json"
				},
				data: JSON.stringify({
					priority: a
				}),
				method: "PUT"
			}).then(() => {
				$(e).parent().parent().attr("data-priority", a);
			})
		}

		function updateTodo(e) {
			const id = $(e).parent().parent().attr("data-id");
			$.ajax({
				url: `/todo/${id}`,
				headers: {
					"content-type": "application/json"
				},
				data: JSON.stringify({
					name: $(`.schedule-todo[data-id="${id}"] .schedule-todo-title`).text(),
					desc: $(`.schedule-todo[data-id="${id}"] .schedule-todo-desc`).text()
				}),
				method: "PUT"
			})
			$(e).css("display", "none");
		}

		function removeTodo(e) {
			$.ajax({
				url: `/todo/${$(e).parent().parent().attr("data-id")}`,
				method: "DELETE"
			})
			$(e).parent().parent().remove();
		}
	</script>
</body>

</html>