<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/imgs/IconColour.png">
	<title>Timetable - Arrif</title>

	<link rel="stylesheet" href="/style/base.css">
	<link rel="stylesheet" href="/style/mediaoverride.css">
	<link rel="stylesheet" href="/style/timetable.css">
	<link rel="stylesheet" href="/style/forms.css">
</head>

<body>
	<%- include("templates/navbar") %>

	<section class="responsive-flex">
		<div class="responsive-container">
			<h1 style="margin-right:0; display:inline-block">Configuration</h1>

			<form>
				<label for="name">Name of this new timetable</label>
				<input name="name" type="text" required value="Week A">

				<label for="defaultStartTime">What time do events usually start at</label>
				<input name="defaultStartTime" type="time" required value="9:00">

				<label for="defaultEventDur">Default duration</label>
				<input name="defaultEventDur" type="number" required value="65">

				<label for="repeats">This timetable repeats every ... weeks</label>
				<input name="repeats" type="number" required value="1">
			</form>
		</div>

		<hr style="margin-top:50px">

		<div class="responsive-container">
			<div>
				<h1 style="margin-right:0; display:inline-block">Timetable</h1>
				<button class="timetable-button" style="float: right; vertical-align: middle;">Update</button>
			</div>

			<table class="timetable">
				<!-- <tr>
					<th class="timetable-period" style="width: 30px">Period</th>
					
				</tr> -->
				<tr>
					<%- tt.html?.headers.map((d)=>`<th>${d}</th>`).join("") %>
				</tr>
				<%- tt.html?.rows.map((d)=>`<td>${d}</td>`).join("") %>

			</table>
		</div>
	</section>

	<%- include("templates/footer.ejs"); %>
	<%- include("templates/debug") %>


	<script>

	</script>
</body>

</html>